<%- include("../partials/adminheader") %>

<div class="container-scroller">
  <%- include("../partials/adminSidebar") %>

  <div class="container-fluid page-body-wrapper">
    <%- include("../partials/adminNav") %>

    <div class="main-panel">
      <div class="content-wrapper bg-light">
        <div class="page-header">

          <form action="/admin/view-users" method="get" class="mt-2 mt-md-0 d-none d-lg-flex search">
            <input type="text" name="search" class="form-control" placeholder="Search customers" value="<%= searchQuery %>">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>

          <h3 class="page-title">Basic Tables</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Tables</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Basic tables
              </li>
            </ol>
          </nav>
        </div>

        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Basic Table</h4>
                <p class="card-description">Add class <code>.table</code></p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Join Date</th>
                        <!-- <th>Update</th>                         -->
                        <th>Blocked</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% users.forEach(function(user, index) { %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        
                        <td> <%= new Date(user.createdOn).toDateString()  %></td>
                        <!-- <td> <a href="/admin/update-user/<%= user._id %>" class="btn btn-primary">Update</a></td> -->

                        <% if(user.isBlocked === false) {%>                          
                          <td><a href="/admin/block-user?id=<%= user._id %>" class="btn btn-danger"> Block</a></td>
                          <% }else { %>
                            <td><a href="/admin/unblock-user?id=<%= user._id %>" class="btn btn-warning"> unBlock</a></td>
                            <% } %>
                        
                        
                        
                        <!-- <td>
                          <label class="badge badge-danger">Pending</label>
                        </td> -->
                      </tr>
                      <% }) %>
                      
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- Pagination Section -->
      <div class="pagination mt-4">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <!-- Previous Page -->
            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
              <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= searchQuery %>"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- Page Numbers -->
            <% for (let i=1; i <=totalPages; i++) { %>
              <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>&search=<%= searchQuery %>">
                  <%= i %>
                </a>
              </li>
              <% } %>

                <!-- Next Page -->
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= searchQuery %>"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
          </ul>
        </nav>
      </div>
            </div>
          </div>
        </div>      
      </div>


      
      

      

      
    </div>
  </div>
</div>


<%- include("../partials/adminfooter") %>
