<%- include("../partials/header") %>

  <link rel="stylesheet" href="/user/essence/css/core-style.css">




  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb_area bg-img" style="background-image: url(/user/essence/img/bg-img/breadcumb.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="page-title text-center">
            <h2>Shop</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Shop Grid Area Start ##### -->
  <section class="shop_grid_area section-padding-80">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
          <div class="shop_sidebar_area">


            <!-- ##### Single Widget ##### -->
            <div class="widget catagory mb-50">
              <!-- Widget Title -->
              <h6 class="widget-title mb-30">Catagories</h6>

              <!--  Catagories  -->

              <div class="catagories-menu">
                <ul id="menu-content2" class="menu-content collapse show">
                  <% for (let i=0; i < categories.length; i++) { %>
                    <li data-toggle="collapse" data-target="#category-<%= i %>" class="collapsed">
                      <a href="javascript:void(0)" onclick="applyFilters({ category: '<%= categories[i].name %>' })">
                        <%= categories[i].name %>
                      </a>
                    </li>
                    <% } %>
                </ul>
              </div>

            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget price mb-50">
              <!-- Widget Title -->
              <h6 class="widget-title mb-30">Filter by</h6>
              <!-- Widget Title 2 -->
              <p class="widget-title2 mb-30">Price</p>

              <div class="widget-desc">
                <div class="slider-range">
                  <div id="price-slider"
                    class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                    data-min="49" data-max="360" data-unit="$" data-value-min="49" data-value-max="360"
                    data-label-result="Range:">
                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                  </div>
                  <div class="range-price" id="priceRangeDisplay">Range: $49.00 - $360.00</div>
                </div>

              </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget color mb-50">
              <!-- Widget Title 2 -->
              <p class="widget-title2 mb-30">Color</p>
              <div class="widget-desc">
                <ul class="d-flex">
                  <li><a href="#" class="color1"></a></li>
                  <li><a href="#" class="color2"></a></li>
                  <li><a href="#" class="color3"></a></li>
                  <li><a href="#" class="color4"></a></li>
                  <li><a href="#" class="color5"></a></li>
                  <li><a href="#" class="color6"></a></li>
                  <li><a href="#" class="color7"></a></li>
                  <li><a href="#" class="color8"></a></li>
                  <li><a href="#" class="color9"></a></li>
                  <li><a href="#" class="color10"></a></li>
                </ul>
              </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget brands mb-50">
              <!-- Widget Title 2 -->
              <p class="widget-title2 mb-30">Brands</p>
              <div class="widget-desc">
                <ul>
                  <% for(let i=0 ; i< brands.length ; i++){ %>
                    <li><a href="/filter/brand=<%=brands[i].brandName  %>">
                        <%= brands[i].brandName %>
                      </a></li>
                    <% } %>

                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
          <div class="shop_grid_product_area">
            <div class="row">
              <div class="col-12">
                <div class="product-topbar d-flex align-items-center justify-content-between">
                  <!-- Total Products -->
                  <div class="total-products">
                    <p><span>
                        <%= totalProducts %>
                      </span> products found</p>
                  </div>
                  <!-- Sorting -->
                  <div class="product-sorting d-flex">
                    <p>Sort by:</p>
                    <form action="#" method="get">
                      <select id="sortByselect" onchange="applySortAndFilters()">
                        <option value="">Default</option>
                        <option value="highest-rated">Highest Rated</option>
                        <option value="newest">Newest</option>
                        <option value="price-low-high">Price: $ - $$</option>
                        <option value="price-high-low">Price: $$ - $</option>
                      </select>

                      <input type="submit" class="d-none" value="" />
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <% for (let i=0; i < products.length; i++) { %>
                <!-- Single Product -->
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">
                      <div class="image-wrapper">
                        <img src="/product-images/<%= products[i].productImages[0] %>" alt="" />
                        <!-- Hover Thumb -->
                        <img class="hover-img" src="/product-images/<%= products[i].productImages[1] %>" alt="" />
                      </div>
                      <!-- Favourite -->
                      <div class="product-favourite">
                        <a href="#" class="favme fa fa-heart"></a>
                      </div>
                    </div>

                    <!-- Product Description -->
                    <div class="product-description">
                      <span>topshop</span>
                      <a href="/product-details/<%= products[i]._id %>">
                        <h6>
                          <%= products[i].productName %>
                        </h6>
                      </a>
                      <p class="product-price">
                        <span class="old-price">$<%= products[i].regularPrice %></span>
                        $<%= products[i].salePrice %>
                      </p>

                      <!-- Hover Content -->
                      <div class="hover-content">
                        <!-- Add to Cart -->
                        <div class="add-to-cart-btn">
                          <a href="#" class="btn bg-primary essence-btn">Add to Cart</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>


            <!-- Pagination -->
            <nav aria-label="navigation">
              <ul class="pagination mt-50 mb-70">
                <% if (currentPage> 1) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%= currentPage - 1 %>"><i class="fa fa-angle-left"></i></a>
                  </li>
                  <% } %>
                    <% for (let i=1; i <=totalPages; i++) { %>
                      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>">
                          <%= i %>
                        </a>
                      </li>
                      <% } %>
                        <% if (currentPage < totalPages) { %>
                          <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>"><i
                                class="fa fa-angle-right"></i></a>
                          </li>
                          <% } %>
              </ul>
            </nav>



          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Shop Grid Area End ##### -->



  <script>
    function applySortAndFilters(extraFilters = {}) {
      const sort = document.getElementById("sortByselect").value;
      const minPrice = document.getElementById("minPrice").value;
      const maxPrice = document.getElementById("maxPrice").value;

      const params = new URLSearchParams(window.location.search);

      // Update query parameters with filters
      if (sort) params.set("sort", sort);
      else params.delete("sort");

      if (minPrice) params.set("minPrice", minPrice);
      else params.delete("minPrice");

      if (maxPrice) params.set("maxPrice", maxPrice);
      else params.delete("maxPrice");

      for (const [key, value] of Object.entries(extraFilters)) {
        if (value) params.set(key, value);
        else params.delete(key);
      }

      window.location.search = params.toString();
    }

  </script>

  <%- include("../partials/footer") %>