<%- include("../partials/header") %>

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img" style="background-image: url(/images/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>dresses</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">

                    <!-- ##### Single Widget ##### -->
                    <div class="widget catagory mb-50">
                        <h6 class="widget-title mb-30">Categories</h6>
                        <div class="catagories-menu">
                            <ul id="menu-content2" class="menu-content collapse show">
                                <% for (let i = 0; i < categories.length; i++) { %>
                                    <li data-toggle="collapse" data-target="#category-<%= i %>">
                                        <a href="#"><%= categories[i].name %></a>
                                        <ul class="sub-menu collapse" id="category-<%= i %>">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Bodysuits</a></li>
                                        </ul>
                                    </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                    <!-- ##### Single Widget ##### -->
                    <div class="widget brands mb-50">
                        <p class="widget-title2 mb-30">Brands</p>
                        <div class="widget-desc">
                            <ul>
                                <% for (let i = 0; i < brands.length; i++) { %>
                                    <li><a href="#"><%= brands[i].brandName %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                <div class="total-products">
                                    <p><span><%= totalProducts %></span> products found</p>
                                </div>
                                <!-- Sorting -->
                                <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Price: $$ - $</option>
                                            <option value="value">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Single Product -->
                        <% for (let i = 0; i < products.length; i++) { %>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="/product-images/<%= products[i].productImages[0] %>" alt="">
                                        <img class="hover-img" src="/product-images/<%= products[i].productImages[1] %>" alt="">

                                        <!-- Product Badge -->
                                        <div class="product-badge offer-badge">
                                            <span>-<%= products[i].productOffer %>%</span>
                                        </div>
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span><%= products[i].brand %></span>
                                        <a href="/view-productDetails?id=<%= products[i]._id %>">
                                            <h6><%= products[i].productName %></h6>
                                        </a>
                                        <p class="product-price">
                                            <span class="old-price">$<%= products[i].regularPrice %></span>
                                            $<%= products[i].salePrice %>
                                        </p>
                                        <div class="add-to-cart-btn">
                                            <a href="#" class="btn essence-btn" style="background-color: #5a8aea; color: white;">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ul class="pagination mt-50 mb-70">
                            <% if (currentPage > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/shop?page=<%= currentPage - 1 %>">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            <% } %>

                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                    <a class="page-link" href="/shop?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>

                            <% if (currentPage < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/shop?page=<%= currentPage + 1 %>">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Shop Grid Area End ##### -->

<%- include("../partials/footer") %>
